<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
<%# lnl rfrence nt wrkin %>
  <body>  <body>
      <link rel="stylesheet" type="text/css" href="/style.css" media="all" />
      <style>
        body{
          text-align: center;
          text-shadow: 5cap;
            padding-top: 165px;
        }
        </style>
      <h1> 404</h1>
      <h2>Wrong Place to be Here!!</h2>
      <h2>Go Back</h2>

    </body>
</html>