<%- include('./partials/header.ejs') %>  
<%# lnl rfrence nt wrkin %>
<body>
        <link rel="stylesheet" href="style.css">
        <style>
            body{
                padding-top: 65px;
                padding-left: 20p;
            }
            </style>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
              
                    <% for( var index = 0; index < games.length; index++ ) { %>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="..." alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title"><%=games[index].title %></h5>
                                      <p class="card-text"><%= games[index].title%> is a multiplayer PvP takes to an another level.</p>
                                      <a href="#" class="btn btn-primary">Play</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                                
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>