<%- include('./partials/header.ejs') %>  
<%# lnl rfrence nt wrkin %>
<body>  <body>
    <link rel="stylesheet" type="text/css" href="/style.css" media="all" />
    <style>
      body{
          padding-top: 65px;
      }
      </style>
    <h1> Welcome Asses</h1>
    <h2>To this Sever </h2>
  </body>
</html>