<% include partials/header.ejs %>
<%# lnl rfrence nt wrkin %>
<body>  <body>
    <link rel="stylesheet" href="style.css">
    <style>
      body{
          padding-top: 65px;
          padding-left: 20px;

      }
      </style>
    <% if (title == "Fortnite") { %>
      <h1>Game: <%= title %> </h1>
      <h2>Creator: <%= creator %></h2>
      <h4>
       This Game <%= title %> was designed by <%= creator %> is a pvp multiplayer featured game and a lot of commodities u see.
      </h4>
     <% } else{ %> 
      <h4>
        Error 404 This Game doesnot Exist
      </h4>

    <% } %>  
  </body>
</html>